PORT = 8000
MONGODB_URI =  mongodb+srv://ankitporwalcuet2025_db_user:your-password@cluster0.hfqxx8z.mongodb.net 

# mongodb+srv://ankitporwalcuet2025_db_user:your-password@cluster0.hfqxx8z.mongodb.net

CORS_ORIGIN=*


ACCESS_TOKEN_EXPIRY =1d
ACCESS_TOKEN_SECRET =Bo87Qcyqoj7BG6mVX5ydrIm69ZII4tPQbMkULG0fsTyGDqWez6a7QDaljT/MQ2kThIFmrEvA/pI6merxTJD15Q==
REFRESH_TOKEN_SECRET =I80NILuGIPcDnXsbtvHypVWIxDv5kpavgSJihm2Rp1aFmLh1JFjqSnFWTEsv2uphh+eWYh3J+88Dd4IsZqQctg==
REFRESH_TOKEN_EXPIRY =10d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
FAST2SMS_API_KEY=
